body,
* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}


/* -------------------------------------------Basic Layouting*/

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.landing-content {
    flex-basis: 0;
    flex-grow: 4;

    display: flex;
    flex-direction: column;
}

.content {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
    /*box-shadow: 12px 12px 0px -6px hsl(210, 91%, 22%);*/
}


/* -------------------------------------------Landing Image*/
.landing-image {
    display: none;
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
}

.landing-image img {
    height: 100%;
}

/* -------------------------------------------Landing Text*/


.landing-text {
    width: 70%;
    margin: auto auto;
    margin-left: 20%;
    padding-bottom: 10%;
}

.landing-text h1 {
    font-size: 40px;
    color: hsl(60, 80%, 5%);
    font-family: 'Raleway', sans-serif;
}

.landing-text h2 {
    font-size: 20px;
    color: hsl(60, 80%, 5%);
    letter-spacing: 3px;
    opacity: 0.8;
    margin-bottom: 10%;
}



/* -------------------------------------------Fixed Nav*/

.fixed-nav {
    position: fixed;
    height: 100vh;
    bottom: 0;
    left: 50px;
    /*Vertical Centering*/
    display: flex;
    flex-direction: column;
    z-index: 10000;
}

.fixed-nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}


.fixed-nav ul li {
    font-size: 24px;
    margin: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.fixed-nav ul li:hover {
    transition: 0.2s linear;
    transform: translatey(-3px);
}

.fixed-nav ul li a {
    color: #333;
    text-decoration: none;
}

.fixed-nav ul li:hover a {
    color: hsl(120, 50%, 70%);
}


/* ------------------------------------------- Common Sections Visuals */
.section {
    background-color: hsl(240, 10%, 96%);
}

.content {
    background-color: hsl(240, 0%, 100%);
    padding: 5% 10%;
}

.section-header {
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-bottom: 2px solid hsl(240, 10%, 96%);
}


/* ------------------------------------------- About Section */

/*.about-section-content {
    background-color: hsl(210, 91%, 22%);
    padding: 10%;
    margin: 0 auto;
    margin-top: -50px;
    width: 60%;
    z-index: 1000;
    color: hsl(240, 10%, 96%);

}*/

.about-section-content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 0%;
}

.about-image {
    height: 300px;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: -100px;
}

.about-image img {
    width: 300px;
    border-radius: 50%;
}


.about-text {
    flex-basis: 0;
    flex-grow: 3;
}

.about-text p {
    padding-bottom: 5%;
}

.about-lists {
    display: flex;
    flex-direction: row;
}

.list {
    flex-basis: 0;
    flex-grow: 1;
}

.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 20px;
    line-height: 30px;
}

.custom-list li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('../img/bullet_4.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-list-1 {
    list-style: none;
    padding-left: 0;
}

.custom-list-1 li {
    position: relative;
    padding-left: 20px;
    line-height: 30px;
}

.custom-list-1 li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('../img/bullet_4.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}





/* ------------------------------------------- Experience Section */

.exp-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.exp-left {
    flex-basis: 0;
    flex-grow: 3;
    display: flex;
}


.exp-right {
    flex-basis: 0;
    flex-grow: 7;
    transition: all 1s;
    padding: 2%;
}



.exp-text h1 {
    color: hsl(240, 10%, 20%);
    margin-bottom: 5px;
}

.exp-text h2 {
    color: hsl(240, 10%, 60%);
    font-weight: normal;
}

.job-subheader {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.job-subheader .row {
    flex-basis: 0;
    flex-grow: 1;
}

.job-subheader .right {
    text-align: right;

}

.job-subheader .row h2 {
    font-size: 1.4em;
}



.exp-list {
    list-style: none;
    padding: 0;
    height: 100%;
}

#list-mobile {
    display: none;
}

#list-mobile li {
    display: inline;
}

.exp-list li {
    margin: 33% 0;
    list-style-type: none;
    color: hsl(240, 10%, 80%);
    cursor: pointer;
    transition: transform .3s ease-out;
    padding-left: 5px;
}

.exp-list li.active {
    font-weight: bold;
    color: hsl(240, 10%, 60%);
    transform: scale(1.1);
    border-left: solid 2px hsl(240, 10%, 60%);
}

.exp-list li:not(.active):hover {
    color: hsl(240, 10%, 60%);
    padding-left: 4px;
    border-left: solid 1px hsl(240, 10%, 60%);
}


.exp-text {
    transition: opacity 1s;
    overflow: hidden;
}

.exp-text.inactive {
    height: 0;
    opacity: 0;
    position: absolute;
    left: 9999px;
}

.exp-text li {
    margin-bottom: 10px;
}





/* ------------------------------------------- Project Section */

.project-header .section-header {
    margin-bottom: 2%;
}

.project-section-content {
    width: 100%;
    background-color: hsl(240, 10%, 96%);
    margin-bottom: 0;
    overflow-x: hidden;
    padding-top: 0;
}

.project-header {
    text-align: center;
}

.header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.project-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-tile {
    flex-basis: 0;
    flex-grow: 1;
    margin: 5% 2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: hsl(240, 0%, 100%);
    box-shadow: 0px 0px 5px 0px hsla(210, 91%, 22%, 0.1);
    height: 500px;
}

.project-tile:hover {
    box-shadow: 0px 0px 7px 5px hsla(210, 91%, 22%, 0.1);
}


.project-image {
    flex-basis: 0;
    flex-grow: 4;
    min-height: 0;
}

.project-text {
    flex-basis: 0;
    flex-grow: 4;
    min-height: 0;
}

.project-tags {
    flex-basis: 0;
    flex-grow: 1.5;
    min-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.project-image-content {
    max-height: 80%;
    margin: 5%;
    overflow-y: hidden;
}

.project-text-content {
    padding: 5%;
}

.project-text-content h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.project-text-content p {
    margin-bottom: 2%;
}


.project-image img {
    max-width: 100%;
}


.project-tags-content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 90%;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.tag {
    padding: 2% 3%;
    margin: 1%;
    border-radius: 15px;
    text-align: center;
    color: hsl(240, 10%, 60%);
    font-size: 12px;
    box-sizing: border-box;
}

.tag:hover {
    background: hsl(240, 10%, 50%);
    color: hsl(240, 10%, 100%);
}

.help-text {
    justify-content: center;
    text-align: center;
    color: hsl(240, 10%, 60%);
}

/*-----------Switch------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(240, 10%, 80%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: hsl(240, 10%, 60%);
    color: #333;
}


input:checked + .slider:before {
    -webkit-transform: translateX(160px);
    -ms-transform: translateX(160px);
    transform: translateX(160px);
}

/*------ ADDED CSS ---------*/
.sd {
    display: none;
}

.sd,
.ds {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
}

input:checked + .slider .sd {
    display: block;
}

input:checked + .slider .ds {
    display: none;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/*-----------------Div Setup-------------*/
.project-carousel {
    display: flex;
    flex-direction: row;
    width: 200%;
}

#ds-projects-div {
    transform: translateX(200%);
}




/*--------------------------------- MOBILE ---------------------*/


@media screen and (max-width:500px) {

    /*---------NAV------------*/
    .fixed-nav {
        left: 15px;
    }

    .fixed-nav ul li {
        font-size: 16px;
    }

    /*---------Landing------------*/
    .landing-text h1 {
        font-size: 32px;
    }

    /*--------About---------------*/
    .about-section-content {
        padding: 5% 5%;
        flex-direction: column;
        margin-top: 100px;
    }

    .about-text {
        order: 2;
    }

    .about-image {
        order: 1;
        margin: 0;
        margin-top: -100px;
        display: block;
    }

    .about-image img {
        width: 200px;
    }

    .about-lists {
        flex-direction: column;
    }

    .list {
        box-sizing: border-box;
        padding: 1%;
    }

    .custom-list li {
        line-height: 20px;
        margin-bottom: 15px;
    }

    /*---------Experience*/
    .exp-section-content {
        width: 100%;
        padding: 5% 20%;
    }

    .exp-left {
        display: block;
    }

    .exp-right {
        padding: 0%;
    }

    .exp-content {
        display: flex;
        flex-direction: column;
    }

    #list-wide {
        display: none;
    }

    #list-mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 10px 0;
    }

    #list-mobile li {
        flex-basis: 0;
        flex-grow: 1;
        margin: 10px 0;
        text-align: center;
        font-size: 1.5em;
        padding-left: 0px;
        padding-bottom: 10px;
        transition: font-size 0.5s;
    }


    #list-mobile li.active {
        border-left: none;
        border-bottom: solid 2px hsl(240, 10%, 60%);
        transform: none;
    }

    #list-mobile li:not(.active):hover {
        border-left: none;
        border-bottom: solid 1px hsl(240, 10%, 60%);
    }

    .job-subheader .row h2 {
        font-size: 1.1em;
    }

    /*-----Projects------*/
    .project-carousel {
        height: 1500px;
    }

    .project-row {
        flex-direction: column;
    }

    .project-tile {
        margin: 5% 5%;
    }


}
